@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter";
}

.header {
  background: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-grid {
  align-items: center;
}

.header-grid .menu {
  text-align: right;
}

.header-grid .menu .nav-item {
  margin-right: 20px;
  display: inline-block;
}

.header-grid .menu .nav-item a {
  color: white;
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
}

.header-grid .menu .nav-item .login {
  padding: 5px 30px;
  border-radius: 6px;
  background-color: #6570e4;
  border: 1px solid #6570e4;
}

.header-grid .menu .nav-item .register {
  padding: 5px 30px;
  border-radius: 6px;
  background-color: #000000;
  border: 1px solid white;
}

.logged-menu .nav-item {
  margin-right: 30px;
}

.login-grid {
  display: grid;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-grid .image {
  background: url("../src/img/hero-form.svg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.login-grid h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.login-grid h2 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #b0acac;
}

.login-grid .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.login-grid .form>div {
  width: 65%;
}

.login-grid .form input::placeholder {
  color: #000;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
}

.login-grid .btn-login {
  background: #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.login-grid form {
  margin-top: 20px;
}

.login-grid .form-group div input {
  width: 100%;
  font-family: "Inter";
  border: none;
  border-bottom: 1px solid #b0acac;
  margin-bottom: 15px;
  padding: 10px 0px;
  background: #edf0f6;
}

.register-grid {
  display: grid;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-grid .image {
  background: url("../src/img/hero-form.svg");
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.register-grid h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.register-grid h2 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #b0acac;
}

.register-grid .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.register-grid .form>div {
  width: 65%;
}

.register-grid .form textarea::placeholder {
  color: #000;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
}

.register-grid .form input::placeholder {
  color: #000;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
}

.register-grid .btn-register {
  background: #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.register-grid form {
  margin-top: 20px;
}

.register-grid .form-group div input {
  width: 100%;
  font-family: "Inter";
  border: none;
  border-bottom: 1px solid #b0acac;
  margin-bottom: 15px;
  padding: 10px 0px;
  background: #edf0f6;
}

.register-grid .form-group div textarea {
  width: 100%;
  font-family: "Inter";
  border: none;
  border-bottom: 1px solid #b0acac;
  margin-bottom: 15px;
  padding: 10px 0px;
  background: #edf0f6;
}

[type="textarea"],
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: none;
}

.footer {
  background: #6570e4;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
}

.footer .links {
  text-align: right;
}

.footer ul li {
  display: inline-block;
  margin-right: 30px;
}

.footer ul li a {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.footer .copyright {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 14px;
  color: white;
}

.board-user,
body {
  background: #edf0f7;
}

.board-grid {
  padding-top: 50px;
  padding-bottom: 50px;
}

.board-grid .box {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.board-grid .box h2 {
  font-family: "Poppins";
  color: #a8a4a4;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.board-grid .box h2 i {
  color: #000;
  margin-right: 5px;
  font-size: 16px;
}

.board-grid .box p {
  font-family: "Poppins";
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

.page-grid .box {
  background: #fff;
  padding: 50px;
  border-radius: 10px;
}

.board-grid .box p span {
  font-size: 12px;
}

.board-grid .box .green {
  color: #38d31f;
}

.board-secondary-grid {
  padding-bottom: 50px;
}

.board-secondary-grid .box {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
}

.board-secondary-grid .box-left {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.staking-box {
  font-family: "Poppins";
}

.staking-box h2 {
  font-weight: 500;
  color: #847f7f;
  margin-left: 2px;
  margin-bottom: 5px;
}

.staking-box form p {
  color: #847f7f;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 2px;
}

.staking-box input {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

.staking-box .btn-stake {
  background: #000;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.staking-box .btn-unstake {
  background: transparent;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: #000;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.btn-adm {
  font-size: 12px !important;
}

.btn-add {
  background: #000;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 15px;
  font-size: 14px;
}

.btn-withdraw {
  background: transparent;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: #000;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
}

.history-box {
  font-family: "Poppins";
}

.history-box h2 {
  font-weight: 500;
  color: #847f7f;
  margin-left: 2px;
  margin-bottom: 20px;
}

.history-box .top-border {
  background: #000;
  color: white;
  border-radius: 2px;
}

.history-box .transaction {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.history-box .transaction i {
  margin-right: 5px;
}

.history-box .transaction .green {
  color: #38d31f;
}

.history-box .transaction .red {
  color: #d3341f;
}

.history-box .transaction .orange {
  color: orange;
}

.history-box .transaction img {
  width: 30px;
  display: inline;
  margin-right: 5px;
}

.history-box .transaction a {
  font-weight: 600;
  margin-right: 20px;
}

.history-box .transaction a:hover {
  color: #6570E4;
}

.header-grid a {
  font-family: 'Poppins';
}

.deposit-crypto h2 {
  margin-bottom: 20px;
  text-align: center;
}

.deposit-crypto h3 {
  font-family: 'Poppins';
  text-align: center;
  font-size: 14px;
}

.deposit-crypto p {
  font-family: 'Poppins';
  font-size: 13px;
  text-align: center;
}

.deposit-crypto b.address {
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.deposit-crypto .qr-address {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-grid {
  display: grid;
}

.user-grid .image {
  background: url("../src/img/hero-form.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-grid h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.user-grid h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 30px;
  color: #000;
  margin-bottom: 20px;
}

.user-grid .user-info p {
  font-family: "Poppins";
  margin-bottom: 5px;
  font-size: 14px;
}

.user-grid .user-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-start;
  padding: 20px;
}

.user-grid .user-info .btn-edit {
  background: #000;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: block;
}

#left input {
  width: 48%;
  float: left;
}

#right input {
  width: 48%;
  float: left;
  margin-left: 18px;
}

.user-buttons {
  text-align: right;
}

.logged-menu {
  text-align: left;
  color: white;
  display: flex;
  list-style: none;
}

.user-profile {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  color: white;
  list-style: none;
}

.no-logged-menu {
  margin-right: -100px;
}

.user-profile .logout {
  margin-left: 20px;
}

.user-profile a {
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.user-profile a img {
  margin-right: 10px;
  width: 24px;
}

.header-grid .menu .user-profile .nav-item {
  margin-right: 0px;
}

.header-grid .menu .user-profile a {
  color: #b0acac;
  font-size: 14px;
  text-transform: capitalize;
}

.top-dashboard {
  margin-top: 30px;
}

.top-dashboard .col-span-4 {
  text-align: right;
}

.add-box {
  font-family: "Poppins";
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.add-box h2 {
  font-weight: 500;
  color: #847f7f;
  margin-left: 2px;
  margin-bottom: 5px;
}

.add-box form p {
  color: #847f7f;
  font-size: 11px;
  margin-top: 10px;
  margin-left: 2px;
}

.add-box input {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
}

.add-box select {
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  margin-top: 10px;
}

.add-box .btn-stake {
  background: #000;
  border: 2x solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.add-box .btn-unstake {
  background: transparent;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: #000;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.update-profile-grid {
  display: grid;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-profile-grid .image {
  background: url("../src/img/hero-form.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.update-profile-grid h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  color: #000;
}

.update-profile-grid h2 {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 16px;
  color: #b0acac;
}

.update-profile-grid .form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.update-profile-grid .form>div {
  width: 65%;
}

.update-profile-grid .form input::placeholder {
  color: #000;
  font-weight: 400;
  font-family: "Poppins";
  font-size: 14px;
}

.update-profile-grid .btn-register {
  background: #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.update-profile-grid form {
  margin-top: 20px;
}

.update-profile-grid .form-group div input {
  width: 100%;
  color: #bbbbbb;
  font-family: "Inter";
  border: none;
  border-bottom: 1px solid #b0acac;
  margin-bottom: 15px;
  padding: 10px 0px;
  background: #edf0f6;
}

.no-verified {
  color: red;
}

.no-verified a {
  color: #000;
}

.content {
  padding-bottom: 50px;
}

.page-grid {
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-grid h1 {
  font-size: 30px;
  font-family: "Poppins";
  margin-bottom: 20px;
  font-weight: 600;
}

.page-grid p {
  font-family: "Inter";
  font-size: 14px;
  margin-bottom: 20px;
}

.home-grid .hero {
  background: url("../src/img/hero.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-family: "Poppins";
  color: white;
  font-size: 36px;
  font-weight: 500;
  margin-top: -100px;
}

.hero h2 {
  font-family: "Poppins";
  color: rgb(239, 239, 239);
  font-size: 16px;
  font-weight: 300;
}

.hero .btn-hero {
  background: #000;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.hero .btn-hero-secondary {
  background: #6570e4;
  font-family: "Poppins";
  font-weight: 600;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

#bank-transfer-div {
  border: 1px solid #eee;
  margin-top: 20px;
  padding: 20px;
  border-radius: 6px;
}

#bank-transfer-div h2 {
  color: #000;
  font-weight: bold;
}

#bank-transfer-div [type="file"] {
  margin-top: 20px;
  margin-top: 15px;
  font-size: 14px;
  padding: 10px;
}

#bank-transfer-div p {
  font-size: 14px;
}

.bolder {
  font-weight: bold;
}

.btn-view {
  background: white;
  border: 2px solid #000;
  font-family: "Poppins";
  font-weight: 600;
  color: black;
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 13px;
}

.user-box {
  font-family: "Poppins";
}

.user-box h2 {
  font-weight: 500;
  color: #847f7f;
  margin-left: 2px;
  margin-bottom: 20px;
}

.user-box .top-border {
  background: #000;
  color: white;
  border-radius: 2px;
}

.user-box .user-list {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.user-box .user-list i {}

.user-box .user-list .green {
  color: #38d31f;
}

.user-box .user-list .red {
  color: #d3341f;
}

.user-box .user-list .orange {
  color: orange;
}

.dni-front::-webkit-file-upload-button {
  visibility: hidden;
}

.dni-front {
  color: rgba(0, 0, 0, 0);
  width: 189.5px;
}

.dni-front::before {
  content: "\f2bb";
  font-family: "FontAwesome";
  display: inline-block;
  border: 1px solid #d3d2d2;
  border-radius: 3px;
  padding: 40px 60px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 60px;
  color: #6570e4;
}

.dni-front:hover::before {
  border-color: black;
}

.dni-front:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.dni-front[type="file"]:focus {
  outline: none;
}

.dni-back::-webkit-file-upload-button {
  visibility: hidden;
}

.dni-back {
  color: rgba(0, 0, 0, 0);
  width: 189.5px;
}

.dni-back::before {
  content: "\f2c2";
  font-family: "FontAwesome";
  display: inline-block;
  border: 1px solid #d3d2d2;
  border-radius: 3px;
  padding: 40px 60px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 60px;
  color: #6570e4;
}

.dni-back:hover::before {
  border-color: black;
}

.dni-back:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.dni-back[type="file"]:focus {
  outline: none;
}

.dni-back::-webkit-file-upload-button {
  visibility: hidden;
}

.docs {
  color: rgba(0, 0, 0, 0);
  width: 189.5px;
}

.docs::before {
  content: "\f15b";
  font-family: "FontAwesome";
  display: inline-block;
  border: 1px solid #d3d2d2;
  border-radius: 3px;
  padding: 40px 60px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 60px;
  color: #6570e4;
}

.docs:hover::before {
  border-color: black;
}

.docs:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.docs[type="file"]:focus {
  outline: none;
}

.docs::-webkit-file-upload-button {
  visibility: hidden;
}

.KYC-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.KYC-box input {
  border-bottom: 0px !important;
}

.KYC-box p {
  font-family: "Poppins";
  margin-left: 50px;
  margin-top: 5px;
  font-weight: 600;
  color: #b0acac;
}

.top-dashboard .user-info h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
}

.top-dashboard .user-info a {
  text-align: left;
  display: block;
  font-size: 14px;
  font-family: "Poppins";
  text-decoration: underline;
}

.top-dashboard .user-info i {
  color: #37d31d;
}

.top-dashboard .account h2 {
  text-align: left;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
}

@media (max-width: 580px) {
  .login-grid .image {
    display: none;
  }

  .login-grid .col-span-6 {
    grid-column: span 12 / span 12;
  }

  .login-grid {
    margin-top: 50px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .login-grid .form>div {
    width: 100%;
  }

  .header {
    padding-left: 25px;
    padding-right: 25px;
  }

  .hero .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .register-grid .image {
    display: none;
  }

  .register-grid .col-span-6 {
    grid-column: span 12 / span 12;
  }

  .register-grid {
    margin-top: 50px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .register-grid .form>div {
    width: 100%;
  }

  .login-grid .form-group div input {
    padding-left: 10px;
    padding-right: 10px;
  }

  #left input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #right input {
    width: 100%;
    margin-left: 0px;
    float: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .user-grid .image {
    display: none;
  }

  .user-grid .col-span-6 {
    grid-column: span 12 / span 12;
  }

  .user-grid {
    margin-top: 50px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .top-dashboard {
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-dashboard .account {
    grid-column: span 12 / span 12;
  }

  .top-dashboard .user-buttons {
    grid-column: span 12 / span 12;
    text-align: left;
    margin-top: 20px;
  }

  .board-grid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .board-grid .col-span-3 {
    grid-column: span 12 / span 12;
  }

  .board-secondary-grid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .board-secondary-grid .col-span-4 {
    grid-column: span 12 / span 12;
  }

  .board-secondary-grid .col-span-8 {
    grid-column: span 12 / span 12;
  }

  .add-box {
    width: 100%;
  }

  .footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer-grid .col-span-6 {
    grid-column: span 12 / span 12;
  }

  .footer-grid .copyright {
    text-align: center;
  }

  .footer-grid .links {
    text-align: center;
  }

  .footer-grid .links ul {
    display: inline-block;
  }

  .footer-grid .links ul li {
    margin-right: 0px;
    display: block;
    margin-bottom: 10px;
  }

  .history-box .transaction {
    font-size: 10px;
  }

  .update-profile-grid .image {
    display: none;
  }

  .update-profile-grid .col-span-6 {
    grid-column: span 12 / span 12;
  }

  .update-profile-grid {
    margin-top: 50px;
    background: white;
    padding: 50px;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .update-profile-grid .form>div {
    width: 100%;
  }

  .page-grid {
    padding-left: 20px;
    padding-right: 20px;
  }
}